[report]
omit =
    */python?.?/*
    */__pycache__/*
    *.pyc
    venv/*
    */home/travis/virtualenv/*
    */usr/lib/python3/*
    */__init__.py
    tests/*
    *settings/*
    */urls/*
    manager.py
    */settings.py
    */tests/*