[report]
omit =
  */python?.?/*
  */site-packages/nose/*
  */__pycache__/*
  *.pyc
  */venv/*
  */home/travis/virtualenv/*
  */usr/lib/python3/*
  */__init__.py
  \Users\Bison\AppData\*
  */meetup/tests/*
  */wsgi.py
  */travis_ci_settings.py
  */manage.py
  venv/*
  tests/*
  *settings/*
  *migrations/*
  */urls/*
  *travis_ci_settings.py
  *wsgi.py
  manage.py
  tests.py
  */settings.py
  */tests/*
  */static/*
  */staticfiles/*
  */serializers.py
  */apps.py
  */models.py
  */urls.py
  */admin.py
  */questioner/auth/auth_default.py
